.board-size{
	margin-top: 30px;
	margin-bottom: auto;
	margin-left: 30px;
	margin-right: auto;
	top: 390px;
	left: 540px;
	position:absolute;
	transform: scale(3.5);
	-o-transform: scale(3.5);
	-moz-transform: scale(3.5);
	-webkit-transform: scale(3.5);
}	

.p4wn-board table{
  border-spacing: 1px;
}

.p4wn-board td{
  padding: 1px;
}

.p4wn-white-square {
  background-color: #aaa;
}

.p4wn-black-square {
  background-color:#666;
}

.p4wn-board {
  position: relative;
  left: 0px;
  top: 0px;
  /*border:1px solid red;*/
  float: left;
}

.p4wn-log {
  font-family: monospace;
  white-space: pre;
  font-size: 12px;
  overflow: auto;
  min-width: 25px;
  max-width: 100px;
  height: 80%;
  width: 7%
  max-height: 500px;
  min-height: 50px;
  /*border:1px solid blue;*/
}

.p4wn-controls{
  margin-top: 8px;
  clear: both;
  font-size: 14px;
}

.p4wn-control-button {
  padding: 0px 5px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  font-size: 14px:
  margin: 1px;
}

.p4wn-log-move {
  padding: 0px 7px;
  cursor: pointer;
}

.p4wn-wrapper{
  /*border: 1px solid yellow;*/
}
